#cloud-config

package_upgrade: true
package_update: true
package_reboot_if_required: true

packages:
  - qemu-guest-agent

preserve_hostname: false
hostname: ${hostname}
manage_etc_hosts: true

apt:
  primary:
    - arches: [amd64]
      uri: http://se.archive.ubuntu.com/ubuntu
  security:
    - arches: [amd64]
      uri: http://security.ubuntu.com/ubuntu
  conf: |
      APT {
          Get {
              Assume-Yes 'true';
              Fix-Broken 'true';
          }
      }

growpart:
  mode: auto
  devices: ['/']

users:
- name: cloud
  lock_passwd: true
  sudo: ['ALL=(ALL) NOPASSWD:ALL']
  ssh_authorized_keys:
  - ${ssh_public_key}

write_files:
- path: /root/.vimrc
  permissions: 0644
  content: |
    set tabstop=2
    set expandtab
    set shiftwidth=2
- path: /etc/tmpfiles.d/octavia.conf
  permissions: 0644
  content: |
    d /var/run/octavia 0755 stack stack -
- path: /root/build_octavia_image.sh
  permissions: 0755
  content: |
    ${indent(4, build_octavia_image_sh)}
- path: /root/install_devstack.sh
  permissions: 0755
  content: |
    ${indent(4, install_devstack_sh)}

runcmd:
  - systemd-tmpfiles --create /etc/tmpfiles.d/octavia.conf
  - bash /root/install_devstack.sh

final_message: "Done!"
